@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Felix Vågefjärd</b></p>
<address>
    Kårhusgränd 5<br />
    Luleå, 977 54<br />
    <abbr title="Mail">M:</abbr>
    felvge-4@student.ltu.se
</address>

<p><b>Filip Andersson Vestman</b></p>
<address>
    Docentvägen 26<br />
    Luleå, 977 52<br />
    <abbr title="Mail">M:</abbr>
    filves-3@student.ltu.se
</address>

<p><b>Marcus Lundgren</b></p>
<address>
    Tullverket<br />
    Luleå, 977 54<br />
    <abbr title="Mail">M:</abbr>
    marluo-5@student.ltu.se
</address>


